<div class="column is-one-third is-narrow">
  <div class="box">
    <h1 class="title">New post!</h1>
    <h2 class="subtitle">Want to share something juicy...?</h2>

    <%= render 'form', post: @post %>

    <%= link_to root_path do %>
      <span class='icon'><%= fa_icon('vihara') %></span>
      <span>Cancel</span>
    <% end %>
  </div>
</div>
